.evaluation-header-wrapper {
    height: 50px;
    justify-content: center;
    margin-top: 20px;
}

.evaluation-service-search {
    margin-left: 10px;
    margin-right: 20px;
    display: inline-block;
}

.evaluation-time-search {
    margin-left: 10px;
    margin-right: 20px;
    display: inline-block;
}

.evaluation-level-search {
    margin-left: 10px;
    display: inline-block;
    margin-right: 20px;
}

.evaluation-button-search {
    display: inline-block;
    margin-left: 10px;
}

.evaluationContent {
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 10px;
}

.all-replys-list-wrapper {
    margin-top: 28px;
}

.all-replys-list {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e8e8;
}

.reply-info-wrapper {
    margin-left: 20px;
}

.publish-info {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.publish-date {
    margin-left: 15px;
    color: #ccc;
}

.quote-wrapper {
    margin-top: 10px;
    width: 580px;
    /* height: 50px; */
    padding: 15px 15px;
    background-color: aliceblue;
}

.blank-wrapper {
    width: 580px;
    background-color: #ffffff;
}

.quote-content {
    margin-bottom: 10px;
}

.publish-content {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.replyOperation {
    margin-right: 10px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 60px;
}